<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllergenScanner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Allergen Scanner Logo" class="logo">
        </div>
    </header>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture">Take Picture</button>
    <p id="gluten"></p>
    <p id="eggs"></p>
    <p id="milk"></p>
    <p id="nuts"></p>
    <p id="peanuts"></p>
    <p id="soja"></p>
    <p id="molluscs"></p>
    <p id="fish"></p>
    <p id="lupin"></p>
    <p id="crustaceans"></p>
    <p id="sesame"></p>
    <p id="mustard"></p>
    <p id="celery"></p>
    <p id="sulphites"></p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

