<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllergenScanner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="static/images/logo.jpg" alt="Logo" class="logo" style="top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 300px;">
    <video id="video" width="100%" autoplay></video>
    <button id="captureButton"></button>
    <p id="prediction"></p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

